.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  border: none;
  border: 1px solid #cccccc;
  padding: 10px 16px;
  border-radius: 5px;
  width: 200px;
}

ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

li {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: left;
  height: auto;
}

li h4 {
  margin-bottom: 0px;
}
